In [ ]:
SELECT Temperature FROM table;

SELECT DISTINCT City FROM table;

SELECT * FROM table WHERE Country='India';

SELECT * FROM table WHERE Season='Fall';

SELECT City, Country, Season FROM table
WHERE Rainfall BETWEEN 200 AND 400
GROUP BY City, Country, Season;

SELECT City, Country FROM table
WHERE Season='Fall' AND Temperature > 20
GROUP BY City, Country
ORDER BY Temperature ASC;

SELECT SUM(Rainfall) FROM table WHERE City='Cairo';

SELECT Season, SUM(Rainfall) FROM table GROUP BY Season;